<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='/assets/img/favicon.png' rel='icon' type='image/x-icon' />
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/home-responsive.css">
    <link rel="stylesheet" href="~/assets/css/toast-message.css">
    <link rel="stylesheet" href="~/assets/font/font-awesome-pro-v6-6.2.0/css/all.min.css" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    @RenderSection("css_header", required: false)
    @RenderSection("scripts_header", required: false)
    <style>
        /*angularjs animate*/
        /*ng-repeat*/
        .ng-enter {
            transition: 0.5s linear all;
            opacity: 0;
        }

        .ng-enter-active {
            opacity: 1;
        }
    </style>
    <script>
        const shareData = {
            newId: 0,
            isAuthenticated : '@Request.IsAuthenticated' == 'True',
            searchKey: '',
            productCategoryId: 0,
            pageUrl: {
                indexHomePageForSearch: '@Url.Action("Index", "Home", new { searchKey = "_searchKey" })'.replace('_searchKey', ''),
                indexHomePageForProductCategory: '@Url.Action("Index", "Home", new { productCategoryId = "_productCategoryId" })'.replace('_productCategoryId', '')

            },
            loadButton: {
                rootText: '',
                loading: function (button, isShowRootText) {
                    this.rootText = button.innerHTML;
                    //--
                    let text = '';
                    if (isShowRootText) {
                        text = button.innerHTML;
                    }
                    button.disabled = true;
                    button.innerHTML = `<i class="fa-solid fa-loader fa-spin fa-spin-reverse"></i> ${text}`;
                },
                loaded: function (button) {
                    button.disabled = false;
                    button.innerHTML = this.rootText;
                    //--
                    this.rootText = '';
                }
            },
            notification: {
                messageExceptionAPI: '@Html.Raw(Support.ResponsesAPI.MessageAPI.messageException)',
                fail: function (message) {
                    alert(`⚠️@Html.Raw(Support.ResponsesAPI.MessageAPI.failTitle)! ${message}`)
                },
                exception: function () {
                    alert('⚠️' + shareData.notification.messageExceptionAPI)
                }
            }
        }
    </script>
</head>
<body>
    <div ng-app="orderApp">
        <header ng-controller="headerCtrl">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-left">
                        <ul class="header-top-list">
                            <li><a href=""><i class="fa-regular fa-phone"></i> 0123 456 789 (miễn phí)</a></li>
                            <li><a href=""><i class="fa-light fa-location-dot"></i> Xem vị trí cửa hàng</a></li>
                        </ul>
                    </div>
                    <div class="header-top-right">
                        <ul class="header-top-list">
                            <li><a href="">Giới thiệu</a></li>
                            <li><a href="">Cửa hàng</a></li>
                            <li><a href="">Chính sách</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-middle-left">
                        <div class="header-logo">
                            <a href="">
                                <img src="~/assets/img/vy-food.png" alt="" class="header-logo-img">
                            </a>
                        </div>
                    </div>
                    <div class="header-middle-center">
                        <form action="" class="form-search">
                            <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                            <input type="text" class="form-search-input" placeholder="Tìm kiếm món ăn..."
                                   oninput="searchProducts()">
                            <button class="filter-btn"><i class="fa-light fa-filter-list"></i><span>Lọc</span></button>
                        </form>
                    </div>
                    <div class="header-middle-right">
                        <ul class="header-middle-right-list">
                            <li class="header-middle-right-item dnone open" onclick="openSearchMb()">
                                <div class="cart-icon-menu">
                                    <i class="fa-light fa-magnifying-glass"></i>
                                </div>
                            </li>
                            <li class="header-middle-right-item close" onclick="closeSearchMb()">
                                <div class="cart-icon-menu">
                                    <i class="fa-light fa-circle-xmark"></i>
                                </div>
                            </li>
                            <li class="header-middle-right-item dropdown open">
                                <i class="fa-light fa-user"></i>
                                <div class="auth-container">
                                    <span class="text-dndk">Đăng nhập / Đăng ký</span>
                                    <span class="text-tk">Tài khoản <i class="fa-sharp fa-solid fa-caret-down"></i></span>
                                </div>
                                <ul class="header-middle-right-menu">
                                    <li><a id="login" href="javascript:;"><i class="fa-light fa-right-to-bracket"></i> Đăng nhập</a></li>
                                    <li><a id="signup" href="javascript:;"><i class="fa-light fa-user-plus"></i> Đăng ký</a></li>
                                </ul>
                            </li>
                            <li class="header-middle-right-item open" ng-click="events.onOpenModelShoppingCart()" onclick="openCart()">
                                <div class="cart-icon-menu">
                                    <i class="fa-light fa-basket-shopping"></i>
                                    <span class="count-product-cart" ng-bind="data.share.shoppingCart.totalQuantity()"></span>
                                </div>
                                <span>Giỏ hàng</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-cart">
                <div class="cart-container">
                    <div class="cart-header">
                        <h3 class="cart-header-title"><i class="fa-regular fa-basket-shopping-simple"></i> Giỏ hàng</h3>
                        <button class="cart-close" onclick="closeCart()"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="cart-body">
                        <div ng-show="data.shoppingCarts.length == 0" class="gio-hang-trong">
                            <i class="fa-thin fa-cart-xmark"></i>
                            <p>Không có sản phẩm nào trong giỏ hàng của bạn</p>
                        </div>
                        <ul class="cart-list">
                            <li ng-repeat="item in data.shoppingCarts" class="cart-item">
                                <div class="cart-item-info">
                                    <p ng-bind="item.productName" class="cart-item-title">
                                    </p>
                                    <span ng-bind-html="item.productPrice | vnCurrency" class="cart-item-price price">
                                    </span>
                                </div>
                                <p class="product-note"
                                   ng-bind-html="item.shoppingCartNote || '<i class=\'fa-light fa-pencil\'></i><span>Không có ghi chú</span>'">
                                </p>
                                <div class="cart-item-control">
                                    <button class="cart-item-delete"
                                            ng-click="events.onDeleteShoppingCart($index)"
                                            @*onclick="deleteCartItem(3,this)"*@>Xóa</button>
                                    <div class="buttons_added">
                                        <input class="minus is-form" type="button" value="-" 
                                               ng-click="events.onDecreasingNumber(item)"
                                               @*onclick="decreasingNumber(this)"*@>
                                        <input disabled ng-model="item.shoppingCartQuantity" class="input-qty" max="100" min="1" name="" type="number" value="1">
                                        <input class="plus is-form" type="button" value="+" 
                                               ng-click="events.onIncreasingNumber(item)"
                                               @*onclick="increasingNumber(this)"*@>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-footer">
                        <div class="cart-total-price">
                            <p class="text-tt">Tổng tiền:</p>
                            <p class="text-price" ng-bind-html="methods.shoppingCartTotalPrice() | vnCurrency"></p>
                        </div>
                        <div class="cart-footer-payment">
                            <button class="them-mon"><i class="fa-regular fa-plus"></i> Thêm món</button>
                            <button class="thanh-toan disabled">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="advanced-search">
            <div class="container">
                <div class="advanced-search-category">
                    <span>Phân loại </span>
                    <select name="" id="advanced-search-category-select" onchange="searchProducts()">
                        <option>Tất cả</option>
                        <option>Món chay</option>
                        <option>Món mặn</option>
                        <option>Món lẩu</option>
                        <option>Món ăn vặt</option>
                        <option>Món tráng miệng</option>
                        <option>Nước uống</option>
                    </select>
                </div>
                <div class="advanced-search-price">
                    <span>Giá từ</span>
                    <input type="number" placeholder="tối thiểu" id="min-price" onchange="searchProducts()">
                    <span>đến</span>
                    <input type="number" placeholder="tối đa" id="max-price" onchange="searchProducts()">
                    <button id="advanced-search-price-btn"><i class="fa-light fa-magnifying-glass-dollar"></i></button>
                </div>
                <div class="advanced-search-control">
                    <button id="sort-ascending" onclick="searchProducts(1)"><i class="fa-regular fa-arrow-up-short-wide"></i></button>
                    <button id="sort-descending" onclick="searchProducts(2)"><i class="fa-regular fa-arrow-down-wide-short"></i></button>
                    <button id="reset-search" onclick="searchProducts(0)"><i class="fa-light fa-arrow-rotate-right"></i></button>
                    <button onclick="closeSearchAdvanced()"><i class="fa-light fa-xmark"></i></button>
                </div>
            </div>
        </div>
        <div ng-controller="mainCtrl">
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-top-content">
                        <div class="footer-top-img">
                            <img src="~/assets/img/vy-food.png" alt="">
                        </div>
                        <div class="footer-top-subbox">
                            <div class="footer-top-subs">
                                <h2 class="footer-top-subs-title">Đăng ký nhận tin</h2>
                                <p class="footer-top-subs-text">Nhận thông tin mới nhất từ chúng tôi</p>
                            </div>
                            <form class="form-ground">
                                <input type="email" class="form-ground-input" placeholder="Nhập email của bạn">
                                <button class="form-ground-btn">
                                    <span>ĐĂNG KÝ</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-area">
                <div class="container">
                    <div class="widget-row">
                        <div class="widget-row-col-1">
                            <h3 class="widget-title">Về chúng tôi</h3>
                            <div class="widget-row-col-content">
                                <p>Vy Food là thương hiệu được thành lập vào năm 2022 với tiêu chí đặt chất lượng sản phẩm lên hàng đầu.</p>
                            </div>
                            <div class="widget-social">
                                <div class="widget-social-item">
                                    <a href="">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </div>
                                <div class="widget-social-item">
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="widget-social-item">
                                    <a href="">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                                <div class="widget-social-item">
                                    <a href="">
                                        <i class="fab fa-whatsapp"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="widget-row-col">
                            <h3 class="widget-title">Liên kết</h3>
                            <ul class="widget-contact">
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Về chúng tôi</span>
                                    </a>
                                </li>
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Thực đơn</span>
                                    </a>
                                </li>
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Điều khoản</span>
                                    </a>
                                </li>
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Liên hệ</span>
                                    </a>
                                </li>
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Tin tức</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-row-col">
                            <h3 class="widget-title">Thực đơn</h3>
                            <ul class="widget-contact">
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Điểm tâm</span>
                                    </a>
                                </li>
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Món chay</span>
                                    </a>
                                </li>
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Món mặn</span>
                                    </a>
                                </li>
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Nước uống</span>
                                    </a>
                                </li>
                                <li class="widget-contact-item">
                                    <a href="">
                                        <i class="fa-regular fa-arrow-right"></i>
                                        <span>Tráng miệng</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-row-col-1">
                            <h3 class="widget-title">Liên hệ</h3>
                            <div class="contact">
                                <div class="contact-item">
                                    <div class="contact-item-icon">
                                        <i class="fa-regular fa-location-dot"></i>
                                    </div>
                                    <div class="contact-content">
                                        <span>273 An Dương Vương, Phường 3, Quận 5, TP Hồ Chí Minh</span>
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <div class="contact-item-icon">
                                        <i class="fa-regular fa-phone"></i>
                                    </div>
                                    <div class="contact-content contact-item-phone">
                                        <span>0123 456 789</span>
                                        <br>
                                        <span>0987 654 321</span>
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <div class="contact-item-icon">
                                        <i class="fa-regular fa-envelope"></i>
                                    </div>
                                    <div class="contact-content conatct-item-email">
                                        <span>abc@domain.com</span><br />
                                        <span>infoabc@domain.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright-wrap">
            <div class="container">
                <div class="copyright-content">
                    <p>Copyright 2022 Order App. Phát triển dev.maicuong@gmail.com.</p>
                </div>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#"><i class="fa-regular fa-arrow-up"></i></a>
        </div>
        <div class="checkout-page">
            <div class="checkout-header">
                <div class="checkout-return">
                    <button onclick="closecheckout()"><i class="fa-regular fa-chevron-left"></i></button>
                </div>
                <h2 class="checkout-title">Thanh toán</h2>
            </div>
            <main class="checkout-section container">
                <div class="checkout-col-left">
                    <div class="checkout-row">
                        <div class="checkout-col-title">
                            Thông tin đơn hàng
                        </div>
                        <div class="checkout-col-content">
                            <div class="content-group">
                                <p class="checkout-content-label">Hình thức giao nhận</p>
                                <div class="checkout-type-order">
                                    <button class="type-order-btn active" id="giaotannoi">
                                        <i class="fa-duotone fa-moped"
                                           style="--fa-secondary-opacity: 1.0; --fa-primary-color: dodgerblue; --fa-secondary-color: #ffb100;"></i>
                                        Giao tận nơi
                                    </button>
                                    <button class="type-order-btn" id="tudenlay">
                                        <i class="fa-duotone fa-box-heart"
                                           style="--fa-secondary-opacity: 1.0; --fa-primary-color: pink; --fa-secondary-color: palevioletred;"></i>
                                        Tự đến lấy
                                    </button>
                                </div>
                            </div>
                            <div class="content-group">
                                <p class="checkout-content-label">Ngày giao hàng</p>
                                <div class="date-order">
                                </div>
                            </div>
                            <div class="content-group chk-ship" id="giaotannoi-group">
                                <p class="checkout-content-label">Thời gian giao hàng</p>
                                <div class="delivery-time">
                                    <input type="radio" name="giaongay" id="giaongay" class="radio">
                                    <label for="giaongay">Giao ngay khi xong</label>
                                </div>
                                <div class="delivery-time">
                                    <input type="radio" name="giaongay" id="deliverytime" class="radio">
                                    <label for="deliverytime">Giao vào giờ</label>
                                    <select class="choise-time">
                                        <option data-hours="08" value="08:00" selected="selected">08:00 - 09:00</option>

                                        <option data-hours="09" value="09:00">09:00 - 10:00</option>

                                        <option data-hours="10" value="10:00"> 10:00 - 11:00</option>

                                        <option data-hours="11" value="11:00"> 11:00 - 12:00</option>

                                        <option data-hours="12" value="12:00"> 12:00 - 13:00</option>

                                        <option data-hours="13" value="13:00"> 13:00 - 14:00</option>

                                        <option data-hours="14" value="14:00"> 14:00 - 15:00</option>

                                        <option data-hours="15" value="15:00"> 15:00 - 16:00</option>

                                        <option data-hours="16" value="16:00"> 16:00 - 17:00</option>

                                        <option data-hours="17" value="17:00"> 17:00 - 18:00</option>

                                        <option data-hours="18" value="18:00"> 18:00 - 19:00</option>

                                        <option data-hours="19" value="19:00"> 19:00 - 20:00</option>

                                        <option data-hours="20" value="20:00"> 20:00 - 21:00</option>

                                        <option data-hours="21" value="21:00"> 21:00 - 22:00</option>

                                    </select>
                                </div>
                            </div>
                            <div class="content-group" id="tudenlay-group">
                                <p class="checkout-content-label">Lấy hàng tại chi nhánh</p>
                                <div class="delivery-time">
                                    <input type="radio" name="chinhanh" id="chinhanh-1" class="radio">
                                    <label for="chinhanh-1">273 An Dương Vương, Phường 3, Quận 5</label>
                                </div>
                                <div class="delivery-time">
                                    <input type="radio" name="chinhanh" id="chinhanh-2" class="radio">
                                    <label for="chinhanh-2">04 Tôn Đức Thắng, Phường Bến Nghé, Quận 1</label>
                                </div>
                            </div>
                            <div class="content-group">
                                <p class="checkout-content-label">Ghi chú đơn hàng</p>
                                <textarea type="text" class="note-order" placeholder="Nhập ghi chú"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-row">
                        <div class="checkout-col-title">
                            Thông tin người nhận
                        </div>
                        <div class="checkout-col-content">
                            <div class="content-group">
                                <form action="" class="info-nhan-hang">
                                    <div class="form-group">
                                        <input id="tennguoinhan" name="tennguoinhan" type="text"
                                               placeholder="Tên người nhận" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                    <div class="form-group">
                                        <input id="sdtnhan" name="sdtnhan" type="text" placeholder="Số điện thoại nhận hàng"
                                               class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                    <div class="form-group">
                                        <input id="diachinhan" name="diachinhan" type="text" placeholder="Địa chỉ nhận hàng"
                                               class="form-control chk-ship">
                                        <span class="form-message"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-col-right">
                    <p class="checkout-content-label">Đơn hàng</p>
                    <div class="bill-total" id="list-order-checkout">
                    </div>
                    <div class="bill-payment">
                        <div class="total-bill-order">
                        </div>
                        <div class="policy-note">
                            Bằng việc bấm vào nút “Đặt hàng”, tôi đồng ý với
                            <a href="#" target="_blank">chính sách hoạt động</a>
                            của chúng tôi.
                        </div>
                    </div>
                    <div class="total-checkout">
                        <div class="text">Tổng tiền</div>
                        <div class="price-bill">
                            <div class="price-final" id="checkout-cart-price-final">0</div>
                        </div>
                    </div>
                    <button class="complete-checkout-btn">Đặt hàng</button>
                </div>
            </main>
        </div>
        <div id="toast"></div>
    </div>

    <script src="~/assets/js/initialization.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/checkout.js"></script>
    <script src="~/assets/js/toast-message.js"></script>
    <script>
        const app = angular.module("orderApp", ['ngSanitize', 'ngAnimate']);
    </script>
    @RenderSection("scripts_footer", required: false)
    <script>
        app.factory('ShareService', function ($http) {
            let share = {
                shoppingCart: {
                    add: function (shoppingCart) {
                        let shoppingCarts = share.shoppingCart.get() ?? [];

                        let index = shoppingCarts.findIndex(x => x.productId == shoppingCart.productId);
                        if (index > -1) {
                            shoppingCarts[index].shoppingCartQuantity += shoppingCart.shoppingCartQuantity;
                            shoppingCarts[index].shoppingCartNote += `, ${shoppingCart.shoppingCartNote}`;
                        }
                        else {
                            shoppingCarts.unshift(shoppingCart);
                        }
                        share.shoppingCart.set(shoppingCarts);
                    },
                    set: function (shoppingCarts) {
                        localStorage.setItem("shoppingCarts", JSON.stringify(shoppingCarts));
                    },
                    get: function () {
                        return JSON.parse(localStorage.getItem("shoppingCarts"));
                    },
                    clear: function () {
                        localStorage.removeItem("shoppingCarts");
                    },
                    totalQuantity: function () {
                        let totalQuantity = 0;
                        let shoppingCarts = share.shoppingCart.get() ?? [];
                        for (let item of shoppingCarts) {
                            totalQuantity += item.shoppingCartQuantity;
                        }
                        return totalQuantity;
                    }
                }
            };
            return {
                getShare: function () {
                    return share;
                }
            };
        });
    </script>
    <script>
        app.controller("headerCtrl", function ($scope, $http, $timeout, ShareService) {
            $scope.data = {
                share: ShareService.getShare(),
                support: {
                    
                }
            };
            $scope.init = function () {
                
            };
            $scope.events = {
                onOpenModelShoppingCart: function () {
                    $scope.data.shoppingCarts = $scope.data.share.shoppingCart.get() ?? [];
                },
                onDeleteShoppingCart: function (index) {
                    let share = ShareService.getShare();
                    $scope.data.shoppingCarts.splice(index, 1);
                    share.shoppingCart.set($scope.data.shoppingCarts);
                },
                onDecreasingNumber: function (shoppingCart) {
                    let share = ShareService.getShare();
                    shoppingCart.shoppingCartQuantity -= 1;
                    share.shoppingCart.set($scope.data.shoppingCarts);
                },
                onIncreasingNumber: function (shoppingCart) {
                    let share = ShareService.getShare();
                    shoppingCart.shoppingCartQuantity += 1;
                    share.shoppingCart.set($scope.data.shoppingCarts);
                }
            }
            $scope.methods = {
                shoppingCartTotalPrice: function () {
                    if ($scope.data.shoppingCarts == null) {
                        return 0;
                    }
                    let totalPrice = 0;
                    let length = $scope.data.shoppingCarts.length
                    for (let index = 0; index < length; index++) {
                        let item = $scope.data.shoppingCarts[index];
                        totalPrice += (item.shoppingCartQuantity * item.productPrice)
                    }
                    return totalPrice;
                },
            };
            
            $scope.init();
        });
    </script>
    <script>
        //filter Dùng chung angularjs
        app.filter('vnCurrency', function () {
            return function (input) {
                if (isNaN(input)) {
                    return '0'; // Giá trị mặc định nếu input không hợp lệ
                }
                return parseFloat(input)
                    .toFixed(0) // Làm tròn đến số nguyên
                    .replace(/\B(?=(\d{3})+(?!\d))/g, '.') + '&nbsp;₫'; // Thêm dấu chấm phân cách hàng nghìn
            };
        });
        app.filter('vnNumber', function () {
            return function (input) {
                if (isNaN(input)) {
                    return '0'; // Giá trị mặc định nếu input không hợp lệ
                }
                return parseFloat(input)
                    .toFixed(0) // Làm tròn đến số nguyên
                    .replace(/\B(?=(\d{3})+(?!\d))/g, '.'); // Thêm dấu chấm phân cách hàng nghìn
            };
        });
        app.directive('formatPhoneInput', ['$filter', function ($filter) {
            return {
                restrict: 'A',
                require: 'ngModel',
                link: function (scope, element, attrs, ngModelCtrl) {
                    function formatPhoneNumber(value) {
                        if (!value) return '';
                        var cleaned = value.replace(/\D/g, ''); // bỏ ký tự không phải số

                        // Định dạng 4-3-3 (VD: 0123-345-678)
                        if (cleaned.length <= 4) {
                            return cleaned;
                        } else if (cleaned.length <= 7) {
                            return cleaned.slice(0, 4) + '-' + cleaned.slice(4);
                        } else {
                            return cleaned.slice(0, 4) + '-' + cleaned.slice(4, 7) + '-' + cleaned.slice(7, 10);
                        }
                    }

                    ngModelCtrl.$parsers.push(function (value) {
                        var formatted = formatPhoneNumber(value || '');
                        ngModelCtrl.$setViewValue(formatted);
                        ngModelCtrl.$render();
                        return formatted.replace(/\D/g, ''); // trả về chuỗi số thuần cho model
                    });

                    element.on('input', function () {
                        var value = element.val();
                        var formatted = formatPhoneNumber(value);
                        ngModelCtrl.$setViewValue(formatted);
                        ngModelCtrl.$render();
                    });
                }
            };
        }]);
    </script>
</body>
</html>